<nav class="p-5 sticky bg-white border-b-2 md:space-x-3 shadow md:flex md:justify-center">
    <div class="flex justify-between md:justify-center items-center">
        <span class="text-2xl font-[inter] font-semibold cursor-pointer">
            <a href="/"><img class="h-20 inline justify-start md:pl-10 mr-20" src="https://i.ibb.co/HtgBq6b/logo.png">
            </a></span>

        <span class="text-4xl cursor-pointer mx-2 md:hidden block">
            <ion-icon name="menu" onclick=" Menu(this)"></ion-icon>
        </span>
    </div>

    <ul
        class="md:flex md:items-center z-[10000] md:z-auto md:static absolute bg-white w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500">
        <li class="mx-4 my-6 md:mx-6 my-2">
            <a href="/"
                class="text-xl font-[inter] font-semibold hover:underline hover:text-emerald-600 duration-500">Home</a>
        </li>
        <li class="mx-4 my-6 md:mx-6 my-2">
            <a href="/services"
                class="text-xl font-[inter] font-semibold hover:underline hover:text-emerald-600 duration-500">Services</a>
        </li>
        <li class="mx-4 my-6 md:my-6 my-2">
            <a href="/massage"
                class="text-xl font-[inter] font-semibold hover:underline hover:text-emerald-600 duration-500">Massage</a>
        </li>
        <li class="mx-4 my-6 md:mx-6 my-2">
            <a href="/intro"
                class="text-xl font-[inter] font-semibold hover:underline hover:text-emerald-600 duration-500">Meet the
                Doctors</a>
        </li>
        <li class="mx-4 my-6 md:mx-6 my-2">
            <a href="/paperwork"
                class="text-xl font-[inter] font-semibold hover:underline hover:text-emerald-600 duration-500">Paperwork</a>
        </li>
        <li class="mx-4 my-6 md:mx-6 my-2">
            <a href="/contact"
                class="text-xl font-[inter] font-semibold hover:underline hover:text-emerald-600 duration-500">Contact
                Us</a>
        </li>
    </ul>
</nav>



</body>

</html>
