<body class="">
    <div
        class=" hidden lg:flex xl:text-lg lg:text-md justify-between bg-green-900 text-neutral-200 border-separate border-b border-green-800">
        <span class="ml-4"><i class="fa-solid fa-bullhorn mt-1 lg:ml-2"></i>&nbsp;We now offer Department of
            Transportation
            physical exams
            for $90!</span>
        <a class="text-neutral-200 mr-10" href="tel:+12188292665"><i class="fa-solid fa-phone mt-1"></i>&nbsp;(218)
            829-2665</a>
        <a href="https://goo.gl/maps/8K7TJ3uNM2P5VDmS8" class="mr-4"><i
                class="fa-solid fa-location-dot mt-1"></i>&nbsp;15574
            Edgewood Drive Suite 102
            Baxter, MN 56425</a>

    </div>
    <nav
        class="relative px-4 py-4 flex justify-between items-center border-separate border-b border-black bg-green-900">

        <a class="text-4xl tracking-wide text-neutral-100" href="/">
            <img class="h-24 w-auto ml-6 lg:mr-auto 2xl:ml-32"
                src="https://res.cloudinary.com/tyszal/image/upload/v1672272348/image-removebg-preview_vmazya.png"
                alt="">
        </a>
        <div class="lg:hidden mt-6 mr-4">
            <button class="navbar-burger flex items-center text-neutral-100 px-3 mr-3">
                <svg class="block h-6 w-6 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Mobile menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                </svg>
            </button>
            <span class="font-semibold text-neutral-100">MENU</span>
        </div>
        <ul id="menu"
            class="hidden [text-shadow:_3px_3px_5px_rgb(0_0_0_/_60%)] absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:items-center lg:w-auto lg:mt-2">
            <li><a class="2xl:text-xl xl:text-lg inline-block text-neutral-100 uppercase font-bold hover:border-t-4 border-white hover:border-b-4 border-black hover:transition duration-300 ease-in"
                    href="/">Home</a>
            </li>
            <li class="text-neutral-300">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="white" class="w-8 h-10 current-fill"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                </svg>
            </li>
            <li><a class="2xl:text-xl xl:text-lg inline-block text-neutral-200 uppercase font-bold hover:border-t-4 border-white hover:border-b-4 border-black hover:transition duration-300 ease-in"
                    href="/services">Services</a></li>
            <li class="text-neutral-300">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="white" class="w-8 h-10 current-fill"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                </svg>
            </li>
            <li><a class="2xl:text-xl xl:text-lg inline-block text-neutral-200 uppercase font-bold hover:border-t-4 border-white hover:border-b-4 border-black hover:transition duration-300 ease-in"
                    href="/massage">Massage</a></li>
            <li class="text-neutral-300">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="white" class="w-8 h-10 current-fill"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                </svg>
            </li>
            <li><a class="2xl:text-xl xl:text-lg inline-block text-neutral-200 nowrap uppercase font-bold hover:border-t-4 border-white hover:border-b-4 border-black hover:transition duration-300 ease-in"
                    href="/intro">Meet the Doctors</a></li>
            <li class="text-neutral-300">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="white" class="w-8 h-10 current-fill"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                </svg>
            </li>
            <li><a class="2xl:text-xl xl:text-lg inline-block text-neutral-200 uppercase font-bold hover:border-t-4 border-white hover:border-b-4 border-black hover:transition duration-300 ease-in"
                    href="/contact">Contact</a></li>
        </ul>
        <a class="hidden lg:inline-block lg:ml-auto 2xl:mr-28 xl:mr-0 3xl:py-4 3xl:px-10 bg-neutral-200 2xl:text-xl 2xl:py-4 2xl:px-8 lg:text-md lg:py-4 lg:px-6 lg:text-md text-neutral-800 font-bold rounded-xl shadow-xl hover:scale-110 transition duration-200"
            href="#"
            onclick="if(this.innerHTML =='Book an Appointment'){this.innerHTML = 'Coming February 2023!'}else{this.innerHTML = 'Book an Appointment'}">Book
            an
            Appointment</a>
    </nav>
    <div class=" navbar-menu relative z-50 hidden">
        <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
        <nav
            class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
            <div class="flex items-center mb-6">
                <a class="mr-auto text-3xl font-bold leading-none" href="/">
                    <img class="h-20"
                        src="https://res.cloudinary.com/tyszal/image/upload/v1671248953/logoblack_g6uvzj.png"
                        alt="Family Chiropractic Clinic Logo">
                </a>
                <button class="navbar-close mt-auto">
                    <svg class="h-8 w-8 text-gray-400 cursor-pointer hover:text-gray-500"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="border-separate border-t border-b border-black">
                <ul>
                    <li class="mb-1">
                        <a class="block p-4 text-lg font-semibold text-zinc-800 rounded" href="/">Home</a>
                    </li>
                    <li class="mb-1">
                        <a class="block p-4 text-lg font-semibold text-zinc-800 rounded" href="/services">Services</a>
                    </li>
                    <li class="mb-1">
                        <a class="block p-4 text-lg font-semibold text-zinc-800 rounded" href="/massage">Massage</a>
                    </li>
                    <li class="mb-1">
                        <a class="block p-4 text-lg font-semibold text-zinc-800 rounded" href="/intro">Meet the
                            Doctors</a>
                    </li>
                    <li class="mb-1">
                        <a class="block p-4 text-lg font-semibold text-zinc-800 rounded" href="/contact">Contact
                            Us</a>
                    </li>
                </ul>
            </div>
            <div class="">
                <div class="pt-6">
                    <a class="block px-4 py-3 mb-3 leading-loose text-sm text-center font-semibold leading-none bg-zinc-800 text-slate-50 tracking-wide rounded-xl"
                        href="#"
                        onclick="if(this.innerHTML =='Book an Appointment'){this.innerHTML = 'Coming February 2023!'}else{this.innerHTML = 'Book an Appointment'}">Book
                        an Appointment</a>
                </div>

            </div>
        </nav>
    </div>
</body>

<script>
    // Burger menus
    document.addEventListener('DOMContentLoaded', function () {
        // open
        const burger = document.querySelectorAll('.navbar-burger');
        const menu = document.querySelectorAll('.navbar-menu');

        if (burger.length && menu.length) {
            for (var i = 0; i < burger.length; i++) {
                burger[i].addEventListener('click', function () {
                    for (var j = 0; j < menu.length; j++) {
                        menu[j].classList.toggle('hidden');
                    }
                });
            }
        }

        // close
        const close = document.querySelectorAll('.navbar-close');
        const backdrop = document.querySelectorAll('.navbar-backdrop');

        if (close.length) {
            for (var i = 0; i < close.length; i++) {
                close[i].addEventListener('click', function () {
                    for (var j = 0; j < menu.length; j++) {
                        menu[j].classList.toggle('hidden');
                    }
                });
            }
        }

        if (backdrop.length) {
            for (var i = 0; i < backdrop.length; i++) {
                backdrop[i].addEventListener('click', function () {
                    for (var j = 0; j < menu.length; j++) {
                        menu[j].classList.toggle('hidden');
                    }
                });
            }
        }
    });
</script>
<script src="https://kit.fontawesome.com/1b584058ed.js" crossorigin="anonymous"></script>
