<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Chiropractic Clinic</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2.9.1/dist/umd/popper.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/1b584058ed.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon"
        href="https://res.cloudinary.com/tyszal/image/upload/v1671248953/logoblack_g6uvzj.png">
</head>

<body class="bg-gradient-to-r from-neutral-200 via-neutral-50 to-neutral-200 font-sans font-[inter]">
    <%- include('../partials/navbar')%>
        <main>
            <%- body %>
        </main>
        <%- include('../partials/footer')%>

</body>

</html>
