<% layout('layouts/boilerplate') %>
    <p>Office Address:

        Family Chiropractic Clinic

        15574 Edgewood Drive Suite 102

        Baxter, MN 56425



        Office Hours:

        Monday - 7:00 - 7:00

        Tuesday - 7:00 - 7:00

        Wednesday - 7:00 - 6:00

        Thursday - 7:00 - 7:00

        Friday - 7:00 - 5:30

        Saturday - 7:30 - 11:30

        Sunday - Closed



        Phone: 218-829-2665

        Email: frontdesk@familychiroclinicmn.com</p>
