<% layout('layouts/boilerplate') %>

    <div class="relative h-[600px] bg-cover overflow-hidden bg-no-repeat md:bg-cover md:h-screen" style="
        background-position: 25%;
        background-image: url('https://i.ibb.co/k8Dss0R/photo-2-2x.jpg')
      ">
        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
            style="background-color: rgba(0, 0, 0, 0.5)">
            <div class="flex justify-center items-center h-full">
                <div class="text-center text-white px-6 md:px-12">
                    <h1 class="text-4xl md:text-6xl xl:text-7xl font-bold tracking-tight mb-12">
                        We Are Family Chiropractic<br /><br /><span>Minnesota's Top Chiropractors</span>
                    </h1>
                </div>

            </div>
        </div>
    </div>
    <div class="flex justify-center justify-around flex-wrap">
        <p class="font-[inter] text-4xl">Specializing in condition based care</p>
    </div>
    <div>
        <div class="flex justify-center justify-around flex-wrap mt-10">
            <div class="rounded-lg shadow-lg bg-white max-w-sm">
                <a href="#!">
                    <img class="rounded-t-lg max-w-full h-auto"
                        src="https://i.ibb.co/59shW4w/Best-Chiropractic-Office-2022.jpg" alt="" />
                </a>
                <div class="p-6">
                    <h5 class="font-[inter] text-center text-gray-900 text-xl font-medium mb-2">Best of the Brainerd
                        Lakes</h5>
                    <p class="font-[inter] text-center text-gray-700 text-base mb-4">
                        Since 2019, our office has been voted the Best of the Brainerd Lakes.
                    </p>
                </div>
            </div>
            <div class="rounded-lg shadow-lg bg-white max-w-sm">
                <a href="#!">
                    <img class="rounded-t-lg mt-20" src="https://i.ibb.co/nBNYSFB/chirocare.png" alt="" />
                </a>
                <div class="p-6">
                    <h5 class="font-[inter] text-center text-gray-900 text-xl font-medium mb-2">ChiroCare Center of
                        Excellence</h5>
                    <p class="font-[inter] text-center text-gray-700 text-base mb-4">
                        To be recognized as a ChiroCare Center of Excellence is to have defined patient-centered
                        clinical protocols using outcome measures and an integrated treatment approach. Since 2019, we
                        have received and continued to reach accredition from the CCoE. We care about you and your
                        health.
                    </p>
                </div>
            </div>
            <div class="rounded-lg shadow-lg bg-white max-w-sm">
                <a href="#!">
                    <img class="rounded-t-lg mt-20" src="https://i.ibb.co/sW4HCQn/top-u6127-fr-2x.png" alt="" />
                </a>
                <div class="p-6">
                    <h5 class="font-[inter] text-center text-gray-900 text-xl font-medium mb-2">Minnesota Monthly's Top
                        Chiropractors 2015-2020</h5>
                    <p class="font-[inter] text-center text-gray-700 text-base mb-4">
                        Five years in a row, Minnesota Monthly's readers voted us at the top chiropractors in the area.
                        Come and see why!
                    </p>
                </div>
            </div>
        </div>
    </div>
    </section>
