<% layout('layouts/boilerplate') %>

    <div class="relative h-[600px] bg-cover overflow-hidden bg-no-repeat md:h-[800px] md:bg-cover md:w-auto" style="
        background-position: 45%;
        background-image: url('https://res.cloudinary.com/tyszal/image/upload/v1671219037/thedoctors_iakjjn.jpg');
      ">
        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
            style="background-color: rgba(0, 0, 0. .2)">
            <div class="flex justify-center items-center h-full">
                <div class="text-center text-white px-6 md:px-12">
                    <img class="h-32 flex mt-64 md:absolute md:mt-2 md:h-32 lg:h-44 xl:h-52 md:left-0 md:top-2 xl:absolute xl:left-10 xl:top-0"
                        src="https://res.cloudinary.com/tyszal/image/upload/v1672718594/Best-Chiropractic-Office-2022_d0gzki.png"
                        alt="Best Chiropractic Office 2022 Award">
                    <h1 class="text-3xl md:text-5xl xl:text-6xl font-bold tracking-tight">
                        <span class="absolute inset-x-0 top-3 [text-shadow:_5px_5px_5px_rgb(0_0_0_/_60%)]">We
                            Are Family
                            Chiropractic</span><span
                            class="absolute [text-shadow:_5px_5px_5px_rgb(0_0_0_/_60%)] inset-x-0 bottom-4">Minnesota's
                            Top Chiropractors</span>
                    </h1>

                </div>
            </div>
        </div>
    </div>


    <div class="container my-12 px-6 mx-auto">


        <section class="mb-32 text-neutral-800 text-center md:text-left lg:px-32">

            <h2 class="text-3xl font-bold mb-12 text-center underline">What's New at Family Chiropractic
            </h2>

            <div class="grid md:grid-cols-2 gap-x-6 xl:gap-x-12 items-center mb-12">
                <div class="mb-6 md:mb-0">
                    <div class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg"
                        data-mdb-ripple="true" data-mdb-ripple-color="light">
                        <img src="https://res.cloudinary.com/tyszal/image/upload/v1672325252/mndot_nfld70.png"
                            class="w-full" alt="Minnesota's Department of Transportation logo">

                        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
                            style="background-color: rgba(251, 251, 251, 0.2)"></div>
                        </a>
                    </div>
                </div>

                <div class="mb-6 md:mb-0">
                    <h3 class="text-lg lg:text-2xl font-bold mb-3">We Now Offer Department of Transportation Physical
                        Exams</h3>

                    <p class="text-neutral-700 text-sm lg:text-md mb-6">
                        Published <u>12.29.2022</u> by
                        <span class="text-neutral-800">The Front Desk</span>
                    </p>
                    <p class="text-neutral-700 text-sm lg:text-lg">
                        With the addition of Dr. Alysia Eschenbacher, we are now offering Minnesota Department of
                        Transportation physical exams! <a href="javascript:void(0)" class="underline text-neutral-700"
                            disabled>Schedule
                            your
                            appointment</a> here.
                    </p>
                </div>
            </div>

            <div class="grid md:grid-cols-2 gap-x-6 xl:gap-x-12 items-center mb-12">
                <div class="mb-6 md:mb-0 md:order-2">
                    <div class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg"
                        data-mdb-ripple="true" data-mdb-ripple-color="light">
                        <img src="https://res.cloudinary.com/tyszal/image/upload/v1672718769/MNBEST2022_tqgypt.jpg"
                            class="w-1/2 mx-auto rounded-lg" alt="Minnesota Monthly Best Chiropractors Award" />
                        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
                            style="background-color: rgba(251, 251, 251, 0.2)"></div>

                    </div>
                </div>

                <div class="mb-6 md:mb-0 md:order-1">
                    <h3 class="text-lg lg:text-2xl font-bold mb-3">Minnesota's Best Chiropractors</h3>

                    <p class="text-neutral-700 text-sm lg:text-md mb-6">
                        Published <u>12.30.2022</u> by
                        <span href="" class="text-neutral-800">The Front Desk</span></small>
                    </p>
                    <p class="text-neutral-700 text-sm lg:text-lg">
                        Minnesota Monthly has recognized Dr. Holbrook, Dr. Hand, and Dr. Person as some of the best
                        chiropractors in Minnesota. We're grateful to continue to receive this award from Minnesota
                        Monthly as we have every year since 2015.
                    </p>
                </div>
            </div>

            <div class="grid md:grid-cols-2 gap-x-6 xl:gap-x-12 items-center mb-12">
                <div class="mb-6 md:mb-0">
                    <div class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg"
                        data-mdb-ripple="true" data-mdb-ripple-color="light">
                        <img src="https://res.cloudinary.com/tyszal/image/upload/v1672284722/image_veodpt.jpg"
                            class="w-2/3 mx-auto" alt="Dr. Eschenbacher head shot" />

                        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
                            style="background-color: rgba(251, 251, 251, 0.2)"></div>
                        </a>
                    </div>
                </div>

                <div class="mb-6 md:mb-0">
                    <h3 class="text-lg lg:text-2xl font-bold mb-3">Paging Dr. Eschenbacher</h3>

                    <p class="text-neutral-700 mb-6 text-sm lg:text-md">
                        Published <u>12.30.2022</u> by
                        <span href="" class="text-neutral-800">The Front Desk</span>
                    </p>
                    <p class="text-neutral-700 text-sm: lg:text-lg">
                        Family Chiropractic is excited to welcome Dr. Eschenbacher to the practice! We can't wait for
                        you to experience her bright energy.
                    </p>
                </div>
            </div>

        </section>


    </div>


    </html>
    </div>
    </div>
    </div>
    </section>
