<% layout('layouts/boilerplate') %>

    <div class="relative h-[600px] bg-cover overflow-hidden bg-no-repeat md:bg-cover md:h-screen" style="
        background-position: 50%;
        background-image: url('https://res.cloudinary.com/tyszal/image/upload/v1671219037/thedoctors_iakjjn.jpg');
      ">
        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
            style="background-color: rgba(0, 0, 0. .2)">
            <div class="flex justify-center items-center h-full">
                <div class="text-center text-white px-6 md:px-12">
                    <h1 class="text-4xl md:text-6xl xl:text-7xl font-bold tracking-tight mt-100">
                        We Are Family Chiropractic<br /><br /><span>Minnesota's Top Chiropractors</span>
                    </h1>
                    <div class="flex justify-center justify-around flex-wrap pt-10">
                        <img class="h-24 lg:h-64" src="https://i.ibb.co/GkMtQCH/Best-Chiropractic-Office-2022.png"
                            alt="Best Chiropractic Office Award 2022" />
                        <img class="h-24 lg:h-64" src="https://i.ibb.co/v42cHVV/MNBEST2022.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center justify-around flex-wrap">
        <p class="text-4xl text-center">Specializing in Condition Based Care</p>
    </div>
    </section>
