<% layout('layouts/boilerplate') %>

    <div class="relative h-[600px] bg-cover overflow-hidden bg-no-repeat md:h-screen md:bg-cover md:w-auto" style="
        background-position: 45%;
        background-image: url('https://res.cloudinary.com/tyszal/image/upload/v1671219037/thedoctors_iakjjn.jpg');
      ">
        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
            style="background-color: rgba(0, 0, 0. .2)">
            <div class="flex justify-center items-center h-full">
                <div class="text-center text-white px-6 md:px-12">
                    <h1 class="text-4xl md:text-6xl xl:text-7xl font-bold tracking-tight">
                        <span
                            class="absolute [text-shadow:_5px_5px_5px_rgb(0_0_0_/_60%)] inset-x-0 top-3 md:flex md:relative md:pt-[11em]">We
                            Are Family
                            Chiropractic</span><br /><br /><span
                            class="absolute [text-shadow:_5px_5px_5px_rgb(0_0_0_/_60%)] inset-x-0 bottom-4">Minnesota's
                            Top Chiropractors</span>
                    </h1>

                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-center items-center pt-10">
        <p class="inline text-xl items-center ml-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
            animi,
            repellat
            unde possimus cupiditate
            odit repellendus asperiores autem, numquam consectetur, voluptatem excepturi praesentium magnam recusandae
            blanditiis aut. Incidunt, in maiores.
            Voluptas nostrum laboriosam velit corrupti eum eaque pariatur itaque ducimus mollitia debitis odit sunt
            dolores ex, cupiditate quia, aliquam soluta quis molestias. Officia nam minima dolorem cumque obcaecati, sed
            nostrum.
            At vero sit blanditiis. Aliquid doloremque adipisci itaque dolores saepe alias maiores omnis? Ad blanditiis
            porro, asperiores sed officia, totam quidem vel eos harum qui optio officiis iste adipisci? Quaerat?</p>
        <img class="h-24 lg:h-64" src="https://i.ibb.co/GkMtQCH/Best-Chiropractic-Office-2022.png"
            alt="Best Chiropractic Office Award 2022" />
        <img class="h-24 lg:h-64 mr-20" src="https://i.ibb.co/v42cHVV/MNBEST2022.jpg"
            alt="Best Chiropractic Office in Minnesota Award 2022" />
    </div>

    </div>
    </section>
