<% layout('layouts/boilerplate') %>
    <p class="">
        IN NETWORK PROVIDERS

        Blue Cross/Blue Shield
        <img src="https://www.bcbs.com/themes/custom/bcbs/img/full-logo.svg" alt="Blue Cross Blue Shield logo"
            class="h-64">
        Medica
        <img src="https://mss-p-048-delivery.sitecorecontenthub.cloud/api/public/content/358833285b6644afbfb6be1b0f4c6baf?v=c32d25ab"
            alt="Medica logo" class="h-64">
        Preferred One

        HealthPartners

        United Health Care
        <img src="https://www.uhc.com/content/dam/uhcdotcom/website-assets/U-mark-blue.svg"
            alt="United Health Care logo" class="h-64">
        SelectCare

        Medicare

        South Country/Blue Plus

        Medical Assistance

        Most Others





        Flex plans and HSA plans and care credit accepted



        VETERANS COMMUNITY CARE PROVIDERS should be highlighted - this does require an authorization from veterans
        services.

        OFFERING Massage therapy

        Acupuncture

        Chiropractic





        We accept all auto insurances and workers compensation claims. We provide direct billing for both auto and
        workers compensation, including for massage therapy



        We are primary care providers there is no requirement for a referral for any insurances



        We offer monthly adjustment and massage plans for wellness care.



        Maintenance visits - we offer affordable adjustments just to maintain your health! They are not billed through
        insurance and are great for people who want to stay healthy and be ahead of their pain.



        We use a billing company - Phone:( 218) 961-7000 for any billing questions
    </p>
