<% layout('layouts/boilerplate') %>
    <div class="container flex justify-center my-10 px-6 mx-auto">
        <section class="mb-32 text-neutral-800 text-center">
            <h2 class="text-4xl font-bold">Meet The Doctors</h2>
            <div class="flex justify-center items-center mb-12 mt-3 "><img
                    class="h-16 border-separate border-b-2 border-black md:h-32 md:border-b-4"
                    src="https://res.cloudinary.com/tyszal/image/upload/v1672166691/examination_b65kye.png"
                    alt="generic doctor icon"></div>

            <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4">
                <div class="mb-12 lg:mb-0">
                    <img class="rounded-lg shadow-lg mb-6 mx-auto"
                        src="https://res.cloudinary.com/tyszal/image/upload/v1672160114/drholbrook_nntoxc.jpg"
                        alt="avatar" style="width: 200px; height: 200px;" />
                    <h5 class="text-xl lg:text-2xl font-bold mb-4">Dr. Josh Holbrook</h5>
                    <p
                        class="mb-6 mx-1 px-6 text-lg bg-white rounded-lg shadow-lg py-3 break-words whitespace-normal text-start lg:text-xl">
                        Dr. Josh
                        Holbrook
                        grew up in
                        the
                        Brainerd area and attended
                        Brainerd High
                        School.
                        After high school, he attended Marquette University in Milwaukee, Wisconsin for undergraduate
                        studies before going on to Northwestern Health Sciences University in Bloomington, Minnesota to
                        study chiropractic. He returned to the Brainerd Lakes Area and joined Family Chiropractic in
                        2012. Dr. Josh is certified in acupuncture and and is passionate about the versatility in using
                        acupuncture to treat new and chronic conditions.


                        <br><br>
                        As the son of Dr. Tom Holbrook, Dr. Josh grew up with chiropractic care as an important part of
                        his life. He learned about chiropractic’s role in helping people live healthy, active lives. Dr.
                        Josh's goal is to provide compassionate, comfortable, and effective chiropractic care.


                        <br><br>
                        In his free time, Dr. Josh enjoys spending time at the lake with his wife Erin and their three
                        girls. His interests include fishing, hunting, and biking. Dr. Josh is also a beekeeper and an
                        award winning home brewer and mead maker.
                    </p>

                </div>
                <div class="mb-12 lg:mb-0">
                    <img class="rounded-lg shadow-lg mb-6 mx-auto"
                        src="https://res.cloudinary.com/tyszal/image/upload/v1672160286/drjen_okiswd.jpg" alt="avatar"
                        style="width: 200px; height: 200px;" />
                    <h5 class="text-xl lg:text-2xl font-bold mb-4">Dr. Jennifer Person</h5>
                    <p
                        class="mb-6 mx-1 text-center text-lg lg:text-xl px-6 bg-white rounded-lg shadow-lg py-3 break-words whitespace-normal text-start lg:text-xl">
                        Dr.
                        Jennifer Person
                        was
                        born
                        and raised in Brainerd. She
                        enjoyed community volunteer
                        work and taught piano during her high school and college years. Her volunteer work included
                        building homes for Habitat for Humanity, renovating homeless shelters, working in the neonatal
                        intensive care unit at Minneapolis Children’s Hospital, and facilitating leadership and
                        esteem-building workshops for schoolchildren. Between her sophomore and junior years in college,
                        Jennifer spent a year traveling worldwide with the international performance and volunteer
                        group, Up With People, and another six months in Denver, Colorado, as the organization’s vocal
                        instructor.


                        <br><br>
                        Dr. Person’s post-secondary education began with an Associate of Arts degree from Central Lakes
                        College in Brainerd (with high honors). This was followed by a Bachelor of Arts (Biology) from
                        Hamline University in St. Paul, and a Bachelor of Science (Human Biology) and Doctor of
                        Chiropractic (with honors) from Northwestern Health Sciences University in Bloomington. She
                        returned to NWHSU for her Acupuncture Certification, which she completed in 2009. Dr. Person was
                        the recipient of a National Board Examiners scholarship, a National Science Achievement Award,
                        and was involved in an honors chemistry research program at Hamline University. She was also a
                        member of the International Social Science Honor Society.


                        <br><br>
                        More recently, Jennifer was featured in CLC's alumni magazine, "The Ripple Effect," and named
                        one of CLC's 75 Outstanding Alumni. She was also recognized in Minnesota Monthly magazine as one
                        of the state’s Top 100 Chiropractors in 2015, 2016, 2018-2020 and was featured in the Fall 2015
                        Issue of Her Voice, a quarterly publication of the Brainerd Dispatch newspaper.


                        <br><br>
                        Today, Dr. Person contributes to the community as a member of the Brainerd Rotary, sings with
                        and coordinates the annual silent auction for The Legacy Chorale of Greater Minnesota, and is
                        the pianist/choir accompanist/worship team leader at Lord of Life Lutheran Church in Baxter. Her
                        continuing interest in travel has taken her to Alaska, Paris, Italy, Belgium, Luxembourg, Wales,
                        Spain, and the Dominican Republic. After an initial six years of practice in rural Manitoba,
                        Canada, Dr. Person returned to the Brainerd Lakes Area and joined Family Chiropractic in
                        September 2007. She has been practicing acupuncture since 2009, and continues professional
                        development in Traditional Chinese Acupuncture techniques. In addition to caring for people
                        through chiropractic, Jennifer’s abiding passions are piano, singing, golf, friends, family,
                        cooking, travel and her Dachshund, Bitsy!
                    </p>

                </div>
                <div class="mb-12 lg:mb-0">
                    <img class="rounded-lg shadow-lg mb-6 mx-auto"
                        src="https://res.cloudinary.com/tyszal/image/upload/v1672160223/drhand_u647ue.jpg" alt="avatar"
                        style="width: 200px; height: 200px;" />
                    <h5 class="text-xl lg:text-2xl font-bold mb-4 ">Dr. Jeff Hand</h5>
                    <p
                        class="mb-6 mx-1 text-center text-lg px-6 bg-white rounded-lg shadow-lg py-3 break-words whitespace-normal text-start lg:text-xl">
                        Dr.
                        Jeff Hand was
                        born in
                        Thunder Bay, Ontario where he
                        obtained his undergraduate
                        degree from Lakehead University in 1999 with first class standing. He graduated from
                        Northwestern College of Chiropractic in 2002 and practiced in the Twin Cities before moving to
                        the Brainerd Lakes Area and joining Family Chiropractic Clinic in 2004. He is married and has a
                        two children. His hobbies and interests include hockey, golf, exercise, and fishing.


                        <br><br>
                        Dr. Jeff first discovered chiropractic in high school. He played minor hockey and developed low
                        back pain after hockey games. He was aware of chiropractic and decided to give it a try. Regular
                        chiropractic care helped him continue playing to the end of his minor hockey career. He always
                        wanted his career choice to be in health care, and after researching the profession, he knew
                        that chiropractic was right for him. This belief was further cemented when a chiropractor
                        successfully treated him for headaches he developed during college.
                    </p>

                </div>
                <div class="mb-12 md:mb-0">
                    <img class="rounded-lg shadow-lg mb-6 mx-auto"
                        src="https://res.cloudinary.com/tyszal/image/upload/v1672284722/image_veodpt.jpg"
                        style="width: 200px; height: 200px;" />
                    <h5 class="text-xl lg:text-2xl font-bold mb-4">Dr. Alysia Eschenbacher</h5>
                    <p
                        class="mb-6 mx-1 text-center text-lg px-6 bg-white rounded-lg shadow-lg py-3 break-words whitespace-normal text-start lg:text-xl">
                        Dr. Alysia Eschenbacher was born and raised in Pierz, MN on her family’s dairy farm. She
                        attended
                        Central Lakes College in Brainerd, MN where she obtained her associates of arts degree in 2015
                        before
                        attending Minnesota State University, Mankato to finish her bachelor’s degree in biomedical
                        sciences.
                        During her undergraduate career, Dr. Alysia was an honors student and was heavily involved in
                        leadership opportunities across campus, including the Residence Hall Association. In 2018, Dr.
                        Alysia
                        enrolled in the Doctor of Chiropractic program offered by Northwestern Health Sciences
                        University and
                        fell in love with the profession. She furthered her leadership experience at NWHSU through being
                        involved with the student senate and being a diversity scholar, in which she started a research
                        book club
                        to help students understand and bridge the gap in health care disparities. Dr. Alysia graduated
                        from
                        NWHSU in November of 2021 and began her career at Woodlands Chiropractic in St. Cloud, MN where
                        she had been interning for the previous six months. Dr. Alysia has always grown up with
                        chiropractic,
                        being adjusted as early as a week old herself and throughout her teenage years with sports
                        injuries and
                        working on the farm.<br><br> Whenever asked what she wanted to specialize in when she left
                        chiropractic
                        school, Dr. Alysia has always been passionate about occupational health, making sure patients
                        can
                        continue to perform their job and activities of daily life without pain. Dr. Alysia is excited
                        to advance her
                        career at Family Chiropractic and is certified to also perform DOT physicals for patients as
                        well.<br><br>
                        In her free time, Dr. Alysia can still be found helping out on the farm, but she also enjoys
                        hunting and ice
                        fishing or being curled up with a good book. She and her husband Justin recently bought their
                        first home
                        and moved back to Pierz along with their three dogs, Leo, Lou and Lizzy. They are expecting
                        their first
                        child in April 2023.
                    </p>

                </div>
            </div>
        </section>
        <!-- Section: Design Block -->

    </div>
    <!-- Container for demo purpose -->
