<% layout('layouts/boilerplate') %>
    <div class="py-2">
        <h1 class="text-3xl text-center md:text-5xl text-black my-3 font-bold tracking-tight">Massage
        </h1>
        <div class="flex justify-center items-center mb-4 mt-3 md:mb-12"><img
                class="h-16 border-separate border-b-2 border-black pb-1 md:h-32 md:border-b-4"
                src="https://res.cloudinary.com/tyszal/image/upload/v1672194125/massage_muiwkm.png"
                alt="Icon of a massage being performed"></div>
        <div>
            <h2 class="font-semibold block text-2xl mb-1 text-center">Massages are offered in 30, 60, and 90 minute
                sessions.
            </h2>
            <p class="text-lg text-center mt-1 mx-2 md:mx-64 lg:mx-96">We're proud to offer massage therapy for veterans
                through
                the Community
                Care Program. We also take the guess work out of worker's comp and auto accident related massages by
                directly billing the insurance company. We work with insurance companies
                when it is
                a
                covered benefit. No insurance? No problem! We offer discounted prices with our monthly wellness plans.
            </p><br>
        </div>
        <div class=" flex justify-around items-center">
            <div class="bg-white rounded-lg shadow-lg">
            </div>
            <p class="text-lg text-start px-3 break-words bg-white rounded-lg shadow-lg mx-1 py-2 lg:text-xl lg:mx-64">
                <b>DEEP TISSUE MASSAGE</b> - Massage is focused on the sub-layer of musculature and fascia. This
                technique requires
                advanced training and a thorough understanding of anatomy and physiology. The practitioner relaxes
                superficial
                muscles and reaches deeper musculature. It helps with chronic muscular pain and injury rehabilitation,
                and
                reduces
                inflammation-related pain caused by arthritis and tendinitis.<br><br>

                <b>SWEDISH MASSAGE</b> - The most traditional massage technique. This is gentle superficial strokes
                focused on
                relaxation
                of superficial muscles and fascia. This energizes the body and improves overall health by calming and
                balancing
                the
                nervous system.<br><br>

                <b>PEDIATRIC MASSAGE</b> - As a general rule, children derive the same benefits from massage therapy as
                adults,
                including:
                reduced tension in growing muscles, reduced pain and improved flexibility. Improved mood and reduced
                headaches
                and
                fatigue.<br><br>

                <b>CUPPING MASSAGE</b> - This uses silicone and plastic cups which increases blood flow, loosens the
                fascia or
                connective
                tissue, and stimulates healing. It is similar to the way deep tissue massage can be used to break up
                scar
                tissue
                and
                reduce pain. The cups are often placed on the back, neck, and shoulders or the site of pain. They are
                moved
                around
                and are also placed stationary on tight muscles.<br><br>

                <b>FOOT REFLEXOLOGY</b> - Reflexology works on the principle that all organs and glands of the body are
                represented
                by
                reflex points on the feet, hands, ears and face. By applying pressure to these points your body can
                start
                the
                process of balancing and harmonizing all of your body systems and organs. This service includes a foot
                scrub
                and
                hot
                towels to the feet.
                <br><br>

                <b>LYMPHATIC MASSAGE</b> - Lymphatic massage aims to improve the flow of lymph fluid, which reduces
                swelling. This is
                beneficial for lymphedema or for painful swelling of the legs. This is beneficial for those who suffer
                from
                edema.
                <br><br>

                <b>REIKI</b> - A japanese technique that reduces stress, promotes healing and often is referred to as
                “laying on
                hands”
                This helps your body to regulate, it improves digestion, fatigue, anxiety and pain.<br><br>

                <b>COLD STONE MASSAGE</b> - Marble massage stones are used to provide cold to local muscles. It is very
                effective
                at
                relieving inflammation. Cold along the spine is also very relaxing to the body. It improves motion and
                flexibility
                by reducing local pain. This is very good for sinus congestion.
                <br><br>

                <b>GUASHA MASSAGE</b> - Using a tool, the therapist will scrape the skin which promotes microcirculation
                and blood
                flow.
                The repetitive stroking helps to relieve inflammation which is common with chronic pain. This is
                effective
                for
                chronic migraines.<br><br>

                <b>ESSENTIAL OILS</b> - Essential oils help to relieve stress, muscle tension and promote blood flow.
                Essential
                oils
                are
                used to relieve headaches, inflammation, and chronic pain.<br><br>

                <b>HOT STONE MASSAGE</b> - Warm basalt stones used over tense muscles. The heat from these stones
                facilitates
                muscle
                tension and relieves damaged muscle tissue. This is great to relieve anxiety and stress.<br><br>

                <b>PREGNANCY MASSAGE</b> - Special tables to accommodate the growing belly with pregnancy. Helps to
                alleviate
                tension
                and
                pain associated with pregnancy<br><br>

                <b>PERCUSSION MASSAGE</b> - Massage that delivers a series of rapid blows that penetrate deep into the
                soft tissue
                to
                promote pain-relief, relaxation, and tissue repair. This improves blood flow and range-of-motion of the
                muscle.
                Percussion is applied through a series of quick, light, strikes from the hands and wrist, or tools. This
                is
                used
                in
                conjunction with other massage techniques.<br><br>
            </p>
        </div>
