<% layout('layouts/boilerplate') %>
    <p class="font-[inter]">
        Then a Massage Services page - somewhere it would be good to make it clear that we offer 30 min, 60 min, and 90
        minute massages. We would like to highlight that we offer massage therapy for veterans through the community
        care
        program. We also directly bill massages for auto and work comp, and work with insurance companies when it is a
        covered benefit.


        We offer monthly wellness plans at discounted prices.



        DEEP TISSUE MASSAGE - massage is focused on the sub-layer of musculature and fascia. This technique requires
        advanced training and a thorough understanding of anatomy and physiology. The practitioner relaxes superficial
        muscles and reaches deeper musculature. It helps with chronic muscular pain and injury rehabilitation, and
        reduces
        inflammation-related pain caused by arthritis and tendinitis.


        SWEDISH MASSAGE - the most traditional massage technique. This is gentle superficial strokes focused on
        relaxation
        of superficial muscles and fascia. This energizes the body and improves overall health by calming and balancing
        the
        nervous system.


        PEDIATRIC MASSAGE - as a general rule, children derive the same benefits from massage therapy as adults,
        including:
        reduced tension in growing muscles, reduced pain and improved flexibility. Improved mood and reduced headaches
        and
        fatigue.



        CUPPING MASSAGE - this uses silicone and plastic cups which increases blood flow, loosens the fascia or
        connective
        tissue, and stimulates healing. It is similar to the way deep tissue massage can be used to break up scar tissue
        and
        reduce pain. The cups are often placed on the back, neck, and shoulders or the site of pain. They are moved
        around
        and are also placed stationary on tight muscles.


        FOOT REFLEXOLOGY - Reflexology works on the principle that all organs and glands of the body are represented by
        reflex points on the feet, hands, ears and face. By applying pressure to these points your body can start the
        process of balancing and harmonizing all of your body systems and organs. This service includes a foot scrub and
        hot
        towels to the feet.


        LYMPHATIC MASSAGE Lymphatic massage aims to improve the flow of lymph fluid, which reduces swelling. This is
        beneficial for lymphedema or for painful swelling of the legs. This is beneficial for those who suffer from
        edema.


        REIKI - a japanese technique that reduces stress, promotes healing and often is referred to as “laying on hands”
        This helps your body to regulate, it improves digestion, fatigue, anxiety and pain.


        COLD STONE MASSAGE - marble massage stones are used to provide cold to local muscles. It is very effective at
        relieving inflammation. Cold along the spine is also very relaxing to the body. It improves motion and
        flexibility
        by reducing local pain. This is very good for sinus congestion.


        GUASHA MASSAGE - using a tool, the therapist will scrape the skin which promotes microcirculation and blood
        flow.
        The repetitive stroking helps to relieve inflammation which is common with chronic pain. This is effective for
        chronic migraines.


        ESSENTIAL OILS - essential oils help to relieve stress, muscle tension and promote blood flow. Essential oils
        are
        used to relieve headaches, inflammation, and chronic pain.


        HOT STONE MASSAGE - warm basalt stones used over tense muscles. The heat from these stones facilitates muscle
        tension and relieves damaged muscle tissue. This is great to relieve anxiety and stress.


        PREGNANCY MASSAGE - special tables to accommodate the growing belly with pregnancy. Helps to alleviate tension
        and
        pain associated with pregnancy


        PERCUSSION MASSAGE - massage that delivers a series of rapid blows that penetrate deep into the soft tissue to
        promote pain-relief, relaxation, and tissue repair. This improves blood flow and range-of-motion of the muscle.
        Percussion is applied through a series of quick, light, strikes from the hands and wrist, or tools. This is used
        in
        conjunction with other massage techniques.
    </p>
