<% layout('layouts/boilerplate') %>
    <p class="font-[inter]">Services offered with chiropractic adjustments

        CUPPING - plastic, silicone, or glass cups are placed onto the skin to relieve trigger points and muscle
        tension. It
        is very helpful to manage scoliosis and headaches.

        ACUPUNCTURE - meridian therapy with acupuncture needles is used to help heal the body and reduce pain. This is
        commonly used for headaches, sciatica, and chronic conditions like arthritis, and long term disc pain. It also
        is
        used for shoulder and knee conditions, as well as carpal tunnel and TMJ pain.

        DRY NEEDLING - While very different than acupuncture, it uses an acupuncture needle to target trigger points and
        muscle and tendon pain. It is often used to reduce muscle tension and target deep muscle pain. Studies have
        shown it
        is as effective as a spinal injection, but natural. This is often done by physical therapists but is offered at
        Family Chiropractic in conjunction with adjustments.

        GUA SHA - this is a muscle scraping technique designed to increase blood flow in the muscles, and promote
        healing
        and relaxation of the muscles.

        KINESIO TAPING - a special fabric tape is applied to the skin to support and encourage myofascial healing to
        help
        pain. In the shoulders and knees, it can also support stabilization of joints.

        ULTRASOUND - a deep heat therapy provided with a wand and gel which help to reduce inflammation and chronic
        muscle
        adhesions. It is used for conditions like bursitis of the shoulder and hips and tendonitis of the elbow.

        ELECTRICAL MUSCLE STIMULATION - put directly on the skin, it enhances range of motion of tight muscles and
        tendons.
        It improves blood flow to muscles and promotes healing and relieves painful muscle contractions.

        ELECTRICAL ACUPUNCTURE - current is placed between two acupuncture needles. This can augment regular acupuncture
        and
        helps reduce pain in a natural way. The current helps to provide more stimulation to acupuncture points and can
        cover a larger part of the body for pain relief.

        EXERCISE INSTRUCTION - therapeutic exercises are provided with rehabilitative programs that help core strength
        and
        stability of areas from either injury or chronic pain. Family Chiropractic provides exercises that can be
        emailed to
        you with videos and instruction. These are tailored for every patient based on your needs.

        INFRARED HEAT THERAPY - used in conjunction with adjusting, it reduces inflammation, promotes healing and
        improves
        circulation. Infrared penetrates very deep into the muscle layers.

        MASSAGE and TRIGGER POINT THERAPY - focused massage available with chiropractic adjustments to relieve tension
        and
        promote healing. This is done either prior to the adjustment or after to alleviate spasm and painful muscle
        tissue.

        We would like a page focused on ways we adjust people -

        TECHNIQUES OF ADJUSTING at FAMILY CHIROPRACTIC CLINIC

        FLEXION DISTRACTION - a gentle chiropractic method used on patients that have disc injuries and disc problems.
        It is
        a safe, non-surgical, way of providing spinal movement to help resolve disc pain and injury.

        ACTIVATOR METHOD - this adjustment technique provides a gentle adjustment using a spring loaded tool. This
        technique
        is considered to be softer and easier while still being very effictice. This is often used for people that
        prefer
        gentle techniques and is safe for patients with osteoporosis, previous spinal surgeries, and is often used with
        severe pain or for patients who have lack of motion.

        THOMPSON DROP METHOD - a technique that uses a special table that lifts under your body. The adjustment is then
        assisted by the table which enables precision with adjusting. This method does not require twisting and is very
        gentle. This can be used on the neck, middle back and lower back.

        DIVERSIFIED METHOD - the technique most known, which is using the practitioner's hand to provide corrective
        motion
        of a joint. Often heard with this technique is “popping” or “cracking” which is a gas bubble that is released in
        the
        joint from the movement. This can be provided in not only the spine, but shoulders, knees, wrists and ankles.

        PEDIATRIC ADJUSTING - all of our doctors have experience with adjusting infants and toddlers. Often a fingertip
        pressure is used and provides corrective motion to spinal segments that may be associated with irritability or
        positional pain. We even look in ears to assess ear infections!

        GERIATRIC ADJUSTING - all of the doctors have experience and are trained to modify adjusting for the elderly
        population. It is very effective to help with range of motion, mobility, reduce falls, and address pain that is
        associated with aging and arthritis.

        NON SPINAL ADJUSTING - all of the doctors are experienced in adjusting the shoulders, wrists, knees, hips,
        elbows,
        jaw, feet, and ankles. We are able to use a combination of diversified (by hand) adjusting, activator, and drop
        technique on all of your extra joints. We all have experience in sports injuries as well.
    </p>
