<% layout('layouts/boilerplate') %>
    <div class="py-2">
        <h1 class="text-3xl text-center md:text-5xl text-black my-3 font-bold tracking-tight">Services
        </h1>
        <div class="flex justify-center items-center mb-4 mt-3 md:mb-12"><img
                class="h-16 border-separate border-b-2 border-black pb-1 md:h-32 md:border-b-4"
                src="https://res.cloudinary.com/tyszal/image/upload/v1672194125/chiropractic_dxhkwd.png"
                alt="Icon of a spine in a body"></div>
        <div>
            <div class="flex flex-col">
                <h3 class="font-semibold text-2xl text-center mt-6">How We Adjust: The Techniques of Adjusting at Family
                    Chiropractic
                </h3><br>
                <p
                    class="text-lg text-start px-3 break-words bg-white rounded-lg shadow-lg mx-1 py-2 lg:text-xl lg:mx-64">
                    <b>FLEXION DISTRACTION</b> - A gentle chiropractic method used on patients that have disc injuries
                    and
                    disc
                    problems.
                    It is
                    a safe, non-surgical, way of providing spinal movement to help resolve disc pain and injury.<br><br>

                    <b>ACTIVATOR METHOD</b> - This adjustment technique provides a gentle adjustment using a spring
                    loaded
                    tool.
                    This
                    technique
                    is considered to be softer and easier while still being very effictice. This is often used for
                    people
                    that
                    prefer
                    gentle techniques and is safe for patients with osteoporosis, previous spinal surgeries, and is
                    often
                    used
                    with
                    severe pain or for patients who have lack of motion.<br><br>

                    <b>THOMPSON DROP METHOD</b> - A technique that uses a special table that lifts under your body. The
                    adjustment
                    is
                    then
                    assisted by the table which enables precision with adjusting. This method does not require twisting
                    and
                    is
                    very
                    gentle. This can be used on the neck, middle back and lower back.<br><br>

                    <b>DIVERSIFIED METHOD</b> - The technique most known, which is using the practitioner's hand to
                    provide
                    corrective
                    motion
                    of a joint. Often heard with this technique is “popping” or “cracking” which is a gas bubble that is
                    released in
                    the
                    joint from the movement. This can be provided in not only the spine, but shoulders, knees, wrists
                    and
                    ankles.<br><br>

                    <b>PEDIATRIC ADJUSTING</b> - All of our doctors have experience with adjusting infants and toddlers.
                    Often a
                    fingertip
                    pressure is used and provides corrective motion to spinal segments that may be associated with
                    irritability
                    or
                    positional pain. We even look in ears to assess ear infections!<br><br>

                    <b>GERIATRIC ADJUSTING</b> - All of the doctors have experience and are trained to modify adjusting
                    for
                    the
                    elderly
                    population. It is very effective to help with range of motion, mobility, reduce falls, and address
                    pain
                    that
                    is
                    associated with aging and arthritis.<br><br>

                    <b>NON SPINAL ADJUSTING</b> - All of the doctors are experienced in adjusting the shoulders, wrists,
                    knees,
                    hips,
                    elbows,
                    jaw, feet, and ankles. We are able to use a combination of diversified (by hand) adjusting,
                    activator,
                    and
                    drop
                    technique on all of your extra joints. We all have experience in sports injuries as well.<br>
                </p>
            </div>

            <h2 class="font-semibold block text-2xl text-center pt-2">We offer a variety services to accompany
                your chiropractic
                adjustments
            </h2><br>
        </div>
        <div class=" flex justify-around items-center">
            <div class="bg-white rounded-lg shadow-lg">
            </div>
            <p class="text-lg text-start px-3 break-words bg-white rounded-lg shadow-lg mx-1 py-2 lg:text-xl lg:mx-64">
                <b>ACUPUNCTURE</b> - Meridian therapy with acupuncture
                needles is used to help heal the body and reduce
                pain. This is commonly used for headaches, sciatica, and chronic conditions like arthritis, and long
                term disc pain.
                It also is used for shoulder and knee conditions, as well as carpal tunnel and TMJ pain.<br><br>

                <b>CUPPING</b> - Plastic, silicone, or glass cups are placed onto the skin to relieve trigger points and
                muscle tension. It is very helpful to manage scoliosis and headaches.<br><br>

                <b>DRY NEEDLING</b> - While very different than acupuncture, it uses an acupuncture needle to target
                trigger points and muscle and tendon pain. It is often used to reduce muscle tension and target deep
                muscle
                pain. Studies have shown it is as effective as a spinal injection, but natural. This is often done by
                physical
                therapists but is
                offered at Family Chiropractic in conjunction with adjustments.<br><br>

                <b>ELECTRICAL MUSCLE STIMULATION</b> - Put directly on the skin, it enhances range of motion of tight
                muscles and tendons. It improves blood flow to muscles and promotes healing and relieves painful muscle
                contractions.<br><br>

                <b>ELECTRICAL ACUPUNCTURE</b> - A Current is placed between two acupuncture needles. This can augment
                regular acupuncture and helps reduce pain in a natural way. The current helps to provide more
                stimulation to acupuncture points
                and can cover a larger part of the body for pain relief.<br><br>

                <b>EXERCISE INSTRUCTION</b> - Therapeutic exercises are provided with rehabilitative programs that help
                core strength and stability of areas from either injury or chronic pain. Family Chiropractic provides
                exercises that can
                be emailed to you with videos and instruction. These are tailored for every patient based on your
                needs.<br><br>

                <b>GUA SHA</b> - This is a muscle scraping technique designed to increase blood flow in the muscles, and
                promote healing and relaxation of the muscles.<br><br>

                <b>INFRARED HEAT THERAPY</b> - Used in conjunction with adjusting, it reduces inflammation, promotes
                healing and improves circulation. Infrared penetrates very deep into the muscle layers.<br><br>

                <b>KINESIO TAPING</b> - A special fabric tape is applied to the skin to support and encourage myofascial
                healing to help pain. In the shoulders and knees, it can also support stabilization of joints.<br><br>

                <b>MASSAGE AND TRIGGER POINT THERAPY</b> - Focused massage available with chiropractic adjustments to
                relieve
                tension
                and
                promote healing. This is done either prior to the adjustment or after to alleviate spasm and painful
                muscle
                tissue.<br><br>

                <b>ULTRASOUND</b> - A deep heat therapy provided with a wand and gel which help to reduce inflammation
                and
                chronic
                muscle
                adhesions. It is used for conditions like bursitis of the shoulder and hips and tendonitis of the
                elbow.<br>
            </p>
        </div>
